<h1>Groups</h1>

<p><%= link_to 'Add a New Group', new_group_url, class: 'btn btn-primary' %></p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% Array(@groups).each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, group_url(group), class: 'btn btn-primary' %></td>
      <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_group_url(group), class: 'btn btn-warning' %></td>
      <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, group_url(group), method: 'delete', data: { confirm: "Do you really want to delete this group?" }, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

