<h1>New Group</h1>


<% if @group %>
	<% if @group.errors.messages.any? %>
  	<ul>
    	<% @group.errors.full_messages.each do |error| %>
     	<li><div class="errors"> <%= error %> </div></li>
    	<% end %>
  	</ul>
	<% end %>
<% end %>

<%= form_tag(groups_url, method: 'post') do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :name, nil, class: 'form-control' %>
    </div>
  </div>

  <div>
    <%= submit_tag "Create Group", class: 'btn btn-primary' %>
  </div>
<% end %>



