<div class="page-header">
  <h1>Editing Rsvp #<%= @rsvp.id %></h1>
</div>

<%= form_tag(rsvp_url(@rsvp), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :guest_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :guest_id, @rsvp.guest_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :your_food_preference, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :your_food_preference, @rsvp.your_food_preference, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :guest_food_preference, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :guest_food_preference, @rsvp.guest_food_preference, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :num_guests, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :num_guests, @rsvp.num_guests, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Rsvp", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
