<div class="page-header">
  <h1>Rsvp #<%= @rsvp.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Guest</dt>
  <dd><%= @rsvp.guest_id %></dd>

  <dt>Your food preference</dt>
  <dd><%= @rsvp.your_food_preference %></dd>

  <dt>Your guest's food preference</dt>
  <dd><%= @rsvp.guest_food_preference %></dd>

  <dt>Num guests</dt>
  <dd><%= @rsvp.num_guests %></dd>

</dl>
